<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <h1>Logout</h1>
</header>
<main>
    <div class="block-content">
{#        <form method="POST" action="{% url 'newspaper_agency:logout' %}">#}
{#            {% csrf_token %}#}
{#            <button type="submit" class="submit-button">Logout</button>#}
{#        </form>#}
        <p style="text-align: center; margin-top: 15px;">You have successfully logged out. <a
                href="{% url 'newspaper_agency:login' %}">Login again?</a></p>
    </div>
</main>
</body>
</html>