/*common styles*/
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}


header {
  background-color: #0044cc;
  color: white;
  padding: 20px 40px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}


main {
  padding: 40px 20px;
}


.block-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.block-content h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #0044cc;
}
a {
  color: #0044cc;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }

  .block-content {
    padding: 15px;
  }

  button {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}

/*sidebar*/
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

#sidebar-content {
    padding: 20px;
}

#sidebar p {
    margin: 0 0 20px;
    font-size: 16px;
}

#sidebar nav ul {
    list-style: none;
    padding: 0;
}

#sidebar nav ul li {
    margin: 10px 0;
}

#sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 5px;
    transition: background 0.3s;
}

#sidebar nav ul li a:hover {
    background-color: #575757;
}

#toggle-sidebar {
    position: fixed;
    top: 10px;
    left: 10px;
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1100;
    font-size: 18px;
    border-radius: 3px;
}

#main-content {
    margin-left: 20px;
    padding: 20px;
    transition: margin-left 0.3s;
}

#sidebar.open {
    transform: translateX(0);
}

#main-content.sidebar-open {
    margin-left: 270px;
}
