/* Общие стили */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 40px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

header:hover {
    background-color: #444;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    padding: 40px 20px;
}

/* Стиль для блоков контента */
.block-content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    background-color: #fff;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.block-content:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px);
}

.block-content h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease;
}

a:hover {
    text-decoration: underline;
    color: #555;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .block-content {
        padding: 15px;
    }

    button {
        padding: 8px 15px;
        font-size: 0.9rem;
    }
}

/* Sidebar */
#toggle-sidebar-checkbox {
    display: none;
}

#toggle-sidebar {
    position: fixed;
    top: 3px;
    left: 10px;
    background: #333;
    color: #fff;
    border: none;
    padding: 16px 25px;
    cursor: pointer;
    z-index: 1100;
    font-size: 24px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#toggle-sidebar:hover {
    background-color: #444;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    overflow: hidden;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}

#toggle-sidebar-checkbox:checked + #toggle-sidebar + #sidebar {
    transform: translateX(0);
}

#sidebar-content {
    padding: 60px 20px 20px;
}

#sidebar p {
    margin: 0 0 20px;
    font-size: 16px;
}

#sidebar nav ul {
    list-style: none;
    padding: 0;
}

#sidebar nav ul li {
    margin: 10px 0;
}

#sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 5px;
    transition: background 0.3s, color 0.2s;
}

#sidebar nav ul li a:hover {
    background-color: #575757;
    color: #ddd;
}

#main-content {
    margin-left: 20px;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
}

#toggle-sidebar-checkbox:checked + #toggle-sidebar + #sidebar ~ #main-content {
    margin-left: 270px;
}

/* Forms and Buttons */
#newspaper-form,
#edit-redactor-form,
#topic-form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}

#newspaper-form h1.page-title,
#edit-redactor-form h1.page-title,
#topic-form h1.page-title {
    text-align: center;
    color: #333;
    margin-top: -16px;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

.form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
}

.form-input:focus {
    border-color: #45a049;
    box-shadow: 0 0 5px rgba(72, 239, 81, 0.5);
}

.submit-button,
.redactor-update-submit-button,
.confirm-delete-button,
.cancel-link {
    border-radius: 5px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
}

.submit-button:hover {
    background-color: #45a049;
}

.redactor-update-submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    display: block;
    margin: 10px auto;
}

.redactor-update-submit-button:hover {
    background-color: #45a049;
}

.confirm-delete-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.confirm-delete-button:hover {
    background-color: #c0392b;
}

.cancel-link {
    background-color: #45a049;
    color: #fff;
    border: none;
}

.cancel-link:hover {
    background-color: #3e8e41;
}

@media (max-width: 768px) {
    .content-container {
        padding: 15px;
    }

    .content-container h2 {
        font-size: 1.5rem;
    }

    .content-container p,
    .content-container li {
        font-size: 0.9rem;
    }

    .submit-button,
    .confirm-delete-button,
    .cancel-link {
        padding: 10px 20px;
        font-size: 14px;
    }
}
