{% extends "base.html" %}

{% block content %}
    <div id="content" class="content">
        <h1 class="page-title">Edit Newspaper</h1>

        <form method="post" id="edit-redactor-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>

            <div class="action-buttons">
                <button type="submit" class="submit-button">Edit</button>
                <a href="{% url "newspaper_agency:newspaper_list" %}">
                    <button type="button" class="cancel-button">Cancel</button>
                </a>
            </div>
        </form>
    </div>
{% endblock %}
