{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Redactor</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to delete {{ object.first_name }} {{ object.last_name }}?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, Delete</button>
        <a href="{% url 'newspaper_agency:redactor_list' %}"><button type="button">Cancel</button></a>
    </form>
</body>
</html>
