{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div id="sidebar">
    <button id="toggle-sidebar">☰</button>
    <div id="sidebar-content">
        <p>Account: {{ user.username }}</p>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Main</a></li>
                <li><a href="{% url 'newspaper_agency:newspaper-list' %}">Newspaper</a></li>
                <li><a href="{% url 'newspaper_agency:topic-list' %}">Topic</a></li>
                <li><a href="{% url 'newspaper_agency:redactor-list' %}">Redactor</a></li>
                <li><a href="{% url 'newspaper_agency:logout' %}">Logout</a></li>
            </ul>
        </nav>
    </div>
</div>
