<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Newspaper Agency{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<header>
    <h1>Newspaper Agency</h1>
</header>
{% block sidebar %}
    {% include "includes/sidebar.html" %}
{% endblock %}
{% block content %}{% endblock %}
<script src="{% static 'js/sidebar.js' %}"></script>
</body>
</html>
